@import 'variables/colors';

.signup-form-container {
  padding-top: 30px;
}

.signup-form {
  background-color: $white-main;
  border-top: 6px solid $blue;
  max-width: 300px;
  padding: 40px 20px 10px;
}

.logo {
  margin: 0 0 30px;
}

.link {
  width: 100%;
}
