@import 'variables/colors';

.book-list {
  align-items: center;
  display: grid;
  gap: 30px 30px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: center;
  padding: 5% 10%;
}
