@import 'variables/colors';

.nav-bar {
  align-content: stretch;
  align-items: flex-start;
  border-top: 4px solid $blue;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 40px;
}

.link {
  cursor: pointer;
}
