@import 'variables/colors';

.book {
  border: 1px solid $gray-main;
  box-shadow: 0 0 13px 0 rgba(50, 50, 50, 0.91);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5%;
}
