@import 'variables/colors';

.input-text {
  display: flex;
  flex-direction: column;
}

.label {
  color: $black-main;
  display: block;
  font-size: 16px;
  text-align: left;
}

.input {
  color: $black-main;
  font-size: 16px;
  margin: 15px 0;
  padding: 11px;
  width: 100%;
}

.error {
  color: $red-main;
}
