@import '../../styles/colors';

.signup-form {
  background-color: #F4F4F4;
  border-top: 6px solid $blue;
  max-width: 300px;
  margin: auto;
  padding: 40px 20px 10px;

  .logo {
    margin-bottom: 30px;
  }

  label {
    display: block;
    text-align: left;
    font-size: 16px;
    color: $black-main;
  }

  input {
    width: 100%;
    padding: 11px;
    font-size: 16px;
    margin: 15px 0;
    color: $black-main;
  }

  .error {
    color: $red-main;
  }

  .divider {
    height: 2px;
    margin: 15px 0;
    background: #A8A8A8;
  }

  .submit-errors {
    color: $red-main;
    margin-bottom: 10px;
    text-align: left;
  }
}
