@import '../../styles/colors';

.signup-form {
  background-color: $white-main;
  border-top: 6px solid $blue;
  max-width: 300px;
  margin: auto;
  padding: 40px 20px 10px;
  text-align: left;
}

.logo {
  margin: 0 auto 30px;
  display: block;
}

.error {
  color: $red-main;
}

.divider {
  background: $gray-main;
  height: 2px;
  margin: 15px 0;
}

.label {
  color: $black-main;
  display: block;
  text-align: left;
  font-size: 16px;
}

.input {
  color: $black-main;
  font-size: 16px;
  padding: 11px;
  margin: 15px 0;
  width: 100%;
}

.submit-errors {
  color: $red-main;
  margin-bottom: 10px;
  text-align: left;
}
